@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inria+Serif:wght@300;400;700&family=Irish+Grover&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.titre {
    font-family: 'Oswald';
}

.titre2 {
    font-family: 'brogte', sans-serif;
}



#allo {
    background-image: url(media/bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: red;
}